<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seventythree.mapper.InfoMapper">	
	<!--  查询单条记录  -->  
    <!-- <select id="selectUserById" parameterType="int" resultType="User">  
        select * from user where id = #{id}  
    </select>
    
     <select id="findByAll" resultType="com.ssm.model.User">
    	select * from user_login
    </select>
    
    <insert id="insertT"
    parameterType="com.ssm.model.User" 
 	flushCache="true">
    	 INSERT INTO user_login (id,username,password,date) VALUES (#{id},#{username},#{password},#{date})
    </insert>
     -->
    
    <select id="selectById" parameterType="com.seventythree.model.InfoModel"
     resultType="com.seventythree.model.InfoModel">
    	SELECT * FROM info u WHERE u.id=#{id}
    </select>
    
    <insert id="insertInfoModel" parameterType="com.seventythree.model.InfoModel" flushCache="true">
    	INSERT INTO info (name) VALUES (#{name})
    </insert>
   
</mapper>