<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seventythree.mapper.UserMapper">	
	<!--  查询单条记录  -->  
    <!-- <select id="selectUserById" parameterType="int" resultType="User">  
        select * from user where id = #{id}  
    </select>
    
     <select id="findByAll" resultType="com.ssm.model.User">
    	select * from user_login
    </select>
    
    <insert id="insertT"
    parameterType="com.ssm.model.User" 
 	flushCache="true">
    	 INSERT INTO user_login (id,username,password,date) VALUES (#{id},#{username},#{password},#{date})
    </insert>
     -->
    
    <select id="selectByNameAndPwd" resultType="com.seventythree.model.UserModel">
    <!-- 多参数查询 需要用标记位来设置查询条件 -->
    	SELECT * FROM t_user u WHERE u.u_name=#{0} AND u.u_password=#{1}
    </select>
    
    <insert id="insertUserModel" parameterType="com.seventythree.model.UserModel" flushCache="true">
    INSERT INTO t_user (
    	 u_name,
    	 u_password,
    	 othername,
    	 date,
    	 selfintroduction,
    	 icon,
    	 birthday,
    	 gender,
    	 phone,
    	 address)
			 VALUES  (#{u_name},
    	 #{u_password},
    	 #{othername},
    	 #{date},
    	 #{selfintroduction},
    	 #{icon},
    	 #{birthday},
    	 #{gender},
    	 #{phone},
    	 #{address}) ON DUPLICATE KEY UPDATE u_name = #{u_name} 
    </insert> 
    <update id="updateUserModel" parameterType="com.seventythree.model.UserModel">
		UPDATE t_user
		<trim prefix="set" suffixOverrides=",">
			<if test="u_name!=null">u_name=#{u_name},</if>
			<if test="u_password!=null">u_password=#{u_password},</if>
			<if test="othername!=null">othername=#{othername},</if>
			<if test="date!=null">date=#{date},</if>
			<if test="selfintroduction!=null">selfintroduction=#{selfintroduction},</if>
			<if test="icon!=null">icon=#{icon},</if>
			<if test="birthday!=null">birthday=#{birthday},</if>
			<if test="phone!=null">phone=#{phone},</if>
			<if test="address!=null">address=#{address},</if>
		</trim>
		WHERE id=#{id}
    </update>
   
</mapper>